.container .filters .locations{
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD solid;
}
.container .filters .amenities{
    height: 100%;
    width: 25%;
}
.container .filters .locations, .container .filters .amenities{
    line-height: 2.5px;
}
.container .filters .locations h3, .container .filters .amenities h3{
    font-weight: 600;
    margin-block: 23px;
}
.container .filters .locations h4, .container .filters .amenities h4{
    font-size: 14px;
    font-weight: 400;
}