.container .filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
}
.container .filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-block: 12px;
}
.container .filters button:hover{
    opacity: 90%;
}
 .container .filters .locations, .container .filters .amenities{
    height: 100%;
    width: 25%;
    float: left;
    margin-left: 36px;
}
.container .filters .locations{
    border-right: 1px #DDDDDD solid;
}
.container .filters .locations h3, .container .filters .amenities h3{
    font-weight: 600;
    line-height: 17.5px;
}
.container .filters .locations h4, .container .filters .amenities h4{
    font-size: 14px;
    font-weight: 400;
    line-height: .05px;
}